<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ABKsecureSiteHoster/src/httpServer/ThreadExecutor.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="httpServer.ThreadExecutor"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-r &quot;E:\X-Conf\SiteHoster_test\html&quot; -os WIN32"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ABKsecureSiteHoster"/>
</launchConfiguration>
